params {
    contrasts = 'contrasts.txt'
    counts = 'counts_mageck.txt'
    resultsDir = 'results'
    help = false
}

process {
    cpus = 1
    errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 20
    container = 'docker://zuberlab/mageck-nf'

    cpus = 1
	time = { 20.m * task.attempt }

    $mageck {
        memory = { 5.GB * task.attempt }
    }
    $postprocess {
        memory = { 1.GB * task.attempt }
    }
}

timeline {
    enabled = true
}

singularity {
    enabled = true
}

profiles {

    standard {
        process.executor = 'local'
        process.container = '/groups/zuber/zubarchive/GROUPS/Bioinfo/singularity/mageck-nf.img'
        process.maxForks = 3
    }

    sge {
		process.executor = 'sge'
		process.penv = 'smp'
		process.queue = 'public.q'
		process.container = '/groups/zuber/zubarchive/GROUPS/Bioinfo/singularity/mageck-nf.img'
    }

    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--qos=short'
    }
}
