params {
    contrasts = 'contrasts.txt'
    counts = 'counts_mageck.txt'
    resultsDir = 'results'
    help = false
}

process {
    cpus = 1
    maxForks = 3
    errorStrategy = 'retry'
    maxRetries = 1
    container = '/groups/zuber/zubarchive/GROUPS/Bioinfo/singularity/mageck-nf.img'
}

timeline {
    enabled = true
}

singularity {
    enabled = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    sge {
		process.executor = 'sge'
		process.penv = 'smp'
		process.queue = 'public.q'
		process.memory = '1GB'
    }
}
