params {
    contrasts = 'contrasts.txt'
    counts = 'counts_mageck.txt'
    resultsDir = 'results'
    min_count = 30
    min_rra_window = 0
    help = false
}

process {
    cpus = 1
	time = { 20.m * task.attempt }

    $mageck {
        memory = { 5.GB * task.attempt }
    }
    $postprocess {
        memory = { 1.GB * task.attempt }
    }
}

timeline {
    enabled = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
        process.container = 'docker://zuberlab/mageck-nf'
        errorStrategy = 'retry'
        maxRetries = 3
        maxForks = 20
    }

    singularity {
        process.executor = 'local'
        singularity.enabled = true
        process.container = 'docker://zuberlab/mageck-nf'
        errorStrategy = 'retry'
        maxRetries = 3
        maxForks = 20
    }

    conda {
        process.executor = 'local'
        errorStrategy = 'retry'
        maxRetries = 3
        maxForks = 20
    }

    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--qos=short'
        singularity.enabled = true
        process.container = 'docker://zuberlab/mageck-nf'
        errorStrategy = 'retry'
        maxRetries = 3
        maxForks = 20
    }
}
